<% include header %>

<!-- topImg -->
    <div class="top-image" style="position: relative; height: 500px; ">

      <!-- <div class="logo-wrapper">
        <img class="img-responsive" src="img/logo.png" />
      </div> -->

      <div class="kurione-chan-anime" style="line-height: 0;position: absolute; top: 0; background: -webkit-linear-gradient(#daf1fb, #e1f7fe);
background: -moz-linear-gradient(#daf1fb, #e1f7fe);
background: linear-gradient(#daf1fb, #e1f7fe);

 width: 100%;">
        <canvas id="canvas" width="550" height="470" style="margin-top: 30px;"></canvas>
        <canvas id="overlay_canvas" width="800" height="300" style="position: absolute; top: 0; left: 50%; margin-left: -400px;"></canvas>
      </div>

    </div>

    <script src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>
    <script src="http://code.createjs.com/tweenjs-0.4.0.min.js"></script>
    <script src="http://code.createjs.com/movieclip-0.6.0.min.js"></script>
    <script src="js/logo_animation.js"></script>
    <script src="js/icon_throw.js"></script>
    <script>
    var canvas, stage, exportRoot;
    (function init() {
      canvas = document.getElementById("canvas");
      exportRoot = new lib.logo_animation();
      stage = new createjs.Stage(canvas);
      stage.addChild(exportRoot);
      stage.update();
      createjs.Ticker.setFPS(60);
      createjs.Ticker.addEventListener("tick", stage);
    })()
    </script>
<!-- /topImg -->


<div class="container">
  <h1 class="topH1">HTML5 Conference 2013 開催します！</h1>
  <p>todo</p>
  <p>テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。</p>
  <p>テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。</p>
  <p>テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。テキストテキスト。</p>
</div>

<div class="container">
  <h2>カンファレンス概要</h2>
  <div class="" itemscope itemtype="http://schema.org/Event">
    <meta itemprop="name" content="HTML5 Conference 2013">
    <meta itemprop="startDate" content="2013-11-30T12:15+09">
    <meta itemprop="endDate" content="2013-11-30T19:30+09">
    <h3>開催日</h3>
    <p><time datetime="2013-11-30">2013年11月30日</time>（土）<br>12:15 - 19:30（受付開始 11:30）
    <h3>対象者</h3>
    <p>Web開発者、Webデザイナー
    <h3>募集人数</h3>
    <p>1,400名（先着順）
    <h3>会場</h3>
    <p itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name">NTT中央研修センタ</span> <a itemprop="url" href="http://www.lsyoyaku.jp/" target="_blank"></a> (<a href="http://goo.gl/maps/Kd5Gs">東京都調布市入間町1-44</a>)
    <h3>参加費</h3>
    <p>無料

    <h3>主催</h3>
    	<%- show_sponsorlogos("organizer", sponsors.organizer) %>
  </div>
</div>
<div class="container">
</div>
<div class="container">
  <h2>スポンサー・協賛</h2>
  <h3>メインスポンサー</h3>
    	<%- show_sponsorlogos("main", sponsors.main) %>
  <h3>プラチナスポンサー</h3>
    	<%- show_sponsorlogos("platinum", sponsors.platinum) %>
  <h3>ゴールドスポンサー</h3>
    	<%- show_sponsorlogos("gold", sponsors.gold) %>
  <h3>シルバースポンサー</h3>
    	<%- show_sponsorlogos("silver", sponsors.silver) %>
  <h3>後援</h3>
    	<%- show_sponsorlogos("support", sponsors.support) %>
  <h3>メディアスポンサー</h3>
    	<%- show_sponsorlogos("media", sponsors.media) %>
</div>

<% include footer %>